#IFDEF CPU86
-Fu/usr/lib/fpc/$fpcversion/units/$fpctarget
-Fu/usr/lib/fpc/$fpcversion/units/$fpctarget/*
-Fu/usr/lib/fpc/$fpcversion/units/i386-linux/*
#ENDIF

#IFDEF FPC_CROSSCOMPILING
-XP/usr/bin/i386-pc-msdosdjgpp-
-CX
#ENDIF
